.feed_inputContainer {
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 20%);
  border-radius: 8px;
}

.feed_inputOption {
  display: flex;
  justify-content: space-evenly;
}
.feed-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputOption {
  display: flex;
  align-items: center;
}
.inputOption h4 {
  margin-left: 8px;
  font-size: 1rem;
  margin-bottom: 0;
}
.inputOption:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.feed_input {
  display: flex;
}

.feed_input .btn {
  width: 100%;
  border-radius: 35px;
  height: 48px;
}
.feed_input img {
  width: 48px;
  height: 48px;
}

.feed-shared-update {
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 20%);
  border-radius: 8px;
  padding: 12px 16px 0;
}
.feed-shared-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feed-shared-actor__meta h2 {
  font-size: 0.75rem;
  color: #000;
  font-weight: bold;
  margin-bottom: 0.2rem;
}
.feed-shared-actor__meta p {
  color: #000;
  font-size: 0.75rem;
  margin-bottom: 0;
}
.feed-shared-control-menu .dropdown-toggle {
  color: #000;
}
.feed-shared-control-menu .dropdown-toggle:after {
  border: none;
}
.social-details-social-counts a {
  color: #000;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}
.social-details-social-counts a svg {
  margin-right: 10px;
}
.feed-shared-social-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feed-shared-social-actions h4 {
  color: #000;
  opacity: 0.7;
  font-size: 0.85rem;
  font-weight: 600;
}
.feed-shared-social-actions .inputOption {
  margin-top: 0;
}
.comment-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.comment-box form {
  width: 100%;
  position: relative;
}
.send-msg {
  position: absolute;
  right: 0;
  top: 0;
}
.form-control {
  height: 40px;
  border-radius: 35px;
}

.msg {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.msg:last-of-type {
  margin: 0;
}

.msg-bubble {
  max-width: 100%;
  padding: 15px;
  border-radius: 15px;
  background: #f2f2f2;
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.msg-text {
  font-size: 0.85rem;
  font-weight: 500;
}
.msg.right-msg {
  flex-direction: row-reverse;
}
.msg.right-msg .msg-img {
  margin-left: 0.5rem;
}
